*,
*::after
*::before{
    box-sizing: border-box;
}

ul{
    margin: 0;
    list-style: none;
}

li{
    padding-left: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #131313;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
    align-items: center;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    align-items: left
}

.menu{
    margin-right: 70px;
}

.menu__list{
    display: flex;
}

.menu__item + .menu__item{
    padding-left: 10px;
}

.menu__link{
    text-transform: uppercase;
    padding: 43px 20px;
    transition: all .3s;
}

.menu__link:hover{
    background-color: #131313;
    color:#fff;

}

.logo__img{
    height: 100px;
}

.scooter{
    padding: 100px 0 150px;
}

.scooter__inner{
    display: flex;
    justify-content:end;
    
}

.scooter__column-slider{
    flex-basis: 630px;
    margin-left: 30px;
    max-width: 730px;
}

.scooter_title{
    font-weight: 800;
    font-size: 30px;
    line-height: 77px;
    margin: 60px 0 5px;
}

.scooter__subtitle{
    margin: 0 0 60px;
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;
    color: #6f6f6f;
}

.scooter-slider__item{
    height: 600px;
}


.scooter__text{
    max-width: 420px;
    font-weight: 700;
}

.scooter__link{
    margin-top: 35px;
    display: inline-block;
    background-color: #131313;
    color: white;
    padding: 28px 81px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
}

.scooter-slider .slick-dots{
  right: 0;
  top: 50px;
}

.slick-dots{
  position: absolute;
}

.slick-dots li + li{
  padding-top: 10px;
}

.slick-dots button{
  font-size: 0;
  padding: 0;
  border: none;
  background-color: #131313;
  width: 2px;
  height: 25px;
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.slick-dots button:hover,
.slick-active button{
  background-color: #ff4040;
}

.scooter__list{
    
    display: flex;
    justify-content: space-around;
}

.scooter__list-item{
    min-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 58px;
}

.scooter__list-num{
    font-weight: 700;
    text-transform: uppercase;
}

.scooter__list-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: auto 0;
}

.footer__contacts-img{
    height:30px;
    margin-right: 10px;
}

.footer__social-img-yt{
    height: 40px;
}

.footer__social-img-fb{
    height: 40px;
}

.footer{
    background-color: #131313;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.footer__link{
    color: #fff;
    text-decoration: underline;
    font-size: 12px;
    line-height: 15px;
}



.footer__social-link + .footer__social-link{
    margin-left: 26px;
}

.footer__contacts{
    color: #fff;
    font-size: 12px;
    line-height: 15px;
}

.footer__contacts-link{
    display: flex;
    align-items: center;
}

.footer__contacts-link + .footer__contacts-link{
    margin-top: 10px;
}

.footer__contacts-img{
    margin-right: 10px;
}